.action-links {
  a {
    margin-left: 20px;
    color: @activeColor;
    text-decoration: none;
    vertical-align: top;

    &:hover {
      text-decoration: underline;
    }

    i {
      vertical-align: top;
    }
  }

  .first {
    margin-left: 0;
  }
}
