.action-links {
  .clearfix();
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;

  li {
    float: left;
    margin: 0;
    padding: 0;

    a {
      float: left;
      margin-left: 10px;
      color: @activeColor;
      text-decoration: none;
      height: @baseLineHeight;
      line-height: @baseLineHeight;

      &:hover {
        text-decoration: underline;
      }

      i {
        vertical-align: top;
      }
    }
  }

  .first a {
    margin-left: 0;
  }

  .active {
    margin-top: 3px;

    i {
      margin-top: -3px;
    }

    a {
      color: #fff;
      height: 13px;
      line-height: 14px;
      padding: 0 7px 0 5px;
      background: #cccccc;
      .border-radius(7px);

      &:hover {
        text-decoration: none;
      }

      &[href]:hover {
        background: #ACACAC;
      }
    }
  }
}
