.box-with-arrow {
  .box-arrow {
    display: block;
    margin: 0 auto;
  }

  .box {
  }
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;

  .box-arrow {
    width: 0;
    height: 0;
    overflow: hidden;
    border-bottom: 6px solid #000;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  .box {
    display: inline-block;
    width: auto;
    padding: 5px;
    background: #000;
    border: 0;
    .border-radius(3px);
    color: #fff;
  }
}
