.form {
  padding: @baseSpace;

  .form-item {
    padding-bottom: @baseLineHeight;

    .form-label {
      float: left;
      width: @formLabelWidth;
      text-align: right;
      line-height: 28px;
    }

    .form-controls {
      margin-left: @formLabelWidth + 20px;
    }
  }

  .form-actions {
    padding-left: @formLabelWidth + 20px;
  }
}