.input-ctnr {
  position: relative;
  display: inline-block;
}

.input {
  -webkit-appearance: none;
  margin:0;
  padding:5px 5px;
  border: 1px solid @inputBorderColor;
  .border-radius(2px);
  background-color: @inputBgColor;
  line-height: @baseLineHeight;
  height: @baseLineHeight;
  width: 188px;
}

.input-multiline {
  height: 54px;
}

.input:focus {
  border-color:@inputActiveBorderColor;
  outline: 0;
}

.input[readonly],
.input[disabled] {
  border-color: @inputBorderColor;
  background-color: @inputDisabledBgColor;
}

.input-empty {
  color: @placeholderText;
}

.input-placeholder {
  position: absolute;
  top: (28px - 12px) / 2;
  left: 7px;
  line-height: 12px;
  color: @placeholderText;
}

.input-embeded .input {
  border: none;
  .border-radius(0);
}
