.nav-list,
.link-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;

    a {
      display: block;
      padding-top: 2px;
      padding-bottom: 2px;
      color: @activeColor;
      text-decoration: none;
      font-weight: normal;

      &:hover {
        text-decoration: underline;
      }

      i {
        display: inline-block;
        .square(@baseLineHeight);
        vertical-align: top;
      }
    }

    a.disabled {
      color: @inactiveTextColor;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.drp-list {
  margin: 0;
  padding: 0;
  border: none;

  .list-item {
    margin: 0;
    padding: 0;
    border: none;

    a {
      display: block;
      padding: 5px;
      line-height: @baseLineHeight;
      color: @textColor;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    a.list-item-disabled {
      color: @inactiveTextColor;
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .list-item a:hover {
    background-color: @hoverBgColor;
  }

  .list-item-checked {
    a {
      background-color: @activeBgColor;
    }

    a.list-item-disabled {
      color: @inactiveTextColor;
      cursor: default;

      &:hover {
        background-color: @activeBgColor;
      }
    }
  }

  .drp-list-divider {
    border-top: 1px solid @menuDividerColor;
    height: 0;
    line-height: 0;
    margin: (@menuDividerHeight / 2) 0
  }
}
