.nav-list,
.link-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;

    a {
      display: block;
      line-height: @baseLineHeight + 4px;
      color: @activeColor;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      i {
        display: inline-block;
        .square(@baseLineHeight);
      }
    }
  }
}

.drp-list {
  margin: 0;
  padding: 0;
  border: none;

  .list-item {
    margin: 0;
    padding: 0;
    border: none;

    a {
      display: block;
      padding: 5px;
      line-height: @baseLineHeight;
      cursor: pointer;
    }
  }

  .list-item a:hover {
    background-color: @hoverBgColor;
  }

  .list-item-active a {
    background-color: @activeBgColor;
  }
}
