.nav-group-item {
  .nav-list-title {
    height: 32px;
    line-height: 32px;
    padding-left: 10px;

    i {
      display: inline-block;
      vertical-align: top;
      width: @baseIconSize;
      height: @baseIconSize;
      margin-top: (32px - @baseIconSize) / 2;
      margin-right: 10px;
    }
  }

  .nav-list {
    padding: 5px 0;
  }

  .nav-list li a {
    color: @panelTextColor;
    font-size: 12px;
    line-height: 26px;
    padding: 0 0 0 10px;

    i {
      display: inline-block;
      vertical-align: top;
      width: 16px;
      height: 16px;
      margin-top: (26px - @baseIconSize) / 2;
      margin-right: 10px;
    }

    &:hover {
      text-decoration: none;
      background: #ededed;
    }
  }

  .nav-list li.active a {
    color: @activeColor;
    font-weight: bold;
    background-color: @panelHeaderBgColor;
  }
}

