.sel {
  display: inline-block;
  margin: 0;
  border: 1px solid @inputBorderColor;
  .border-radius(2px);
  background-color: @inputBgColor;
  height: 28px;
  width: 198px;
}

.sel-inner {
  position: relative;
}

.sel-bar {
  display: inline-block;
  margin: 0;
  padding: 5px;
  line-height: @baseLineHeight;
  height : @baseLineHeight;
  vertical-align: top;
  overflow: hidden;
}

.sel-lbls {
  font-size: 14px;

  .sel-lbl {
    display: inline-block;
    background: @panelBgColor;
    margin-right: 5px;
    padding: 0 5px;
  }
}

.sel-txt {
  display: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0 5px;
  height: 28px;
  vertical-align: top;
}

.sel-empty {
  .sel-lbls {
    color: @placeholderText;
  }
}

.sel-trigger {
  display: inline-block;
  margin: 0;
  padding: 5px;
  height: @baseLineHeight;
  border: none;
  background: none;
  vertical-align: top;
  cursor: pointer;

  i {
    display: inline-block;
    padding: 0;
    .square(@baseLineHeight);
  }
}

.sel-active {
  border-color:@inputActiveBorderColor;
}

.sel-readonly {
  border-color: @inputBorderColor;
  background-color: @inputDisabledBgColor;
}

.drp-box {
  position: absolute;
  border: 1px solid @inputActiveBorderColor;
  .border-radius(2px);
  background: #fff;
  overflow: auto;
  z-index: 100000;
}

.sel-trigger {
  .icon-drp-down {
    background: url(../img/icons.png) no-repeat (0 - ((30px - @baseLineHeight)/2) - (30px * 1)) (0 - ((30px - @baseLineHeight)/2) - (30px * 1))
  }

  .icon-calendar {
    background: url(../img/icons.png) no-repeat (0 - ((30px - @baseLineHeight)/2) - (30px * 4)) (0 - ((30px - @baseLineHeight)/2) - (30px * 1))
  }
}

