.tabs {
  background-color: #fff;
}

.tabs-header {
  border-bottom: 1px solid @boxBorderColor;
  height: @tabsHeaderHeight;
}

.tabs-triggers {
  margin: 0;
  padding: 0 0 0 15px;
  list-style: none;

  li {
    float: left;
    margin-left: 5px;

    a {
      display: inline-block;
      border: 1px solid @boxBorderColor;
      padding: 1px @tabsTriggerPadding 0;
      background: #e8e8e8;
      line-height: @tabsHeaderHeight - 2px;
      color: @inactiveTextColor;
      cursor: pointer;
      .border-radius(@tabsTriggerBorderRadius @tabsTriggerBorderRadius 0 0);

      &:hover {
        background: #fff;
      }
    }
  }

  li.active a {
    color: @activeColor;
    cursor: default;
    padding: 0 @tabsTriggerPadding 1px;
    line-height: @tabsHeaderHeight - 2px;
    border-top: 2px solid @activeColor;
    border-bottom: none;
    background: #fff;
    color: #333;
  }
}

.tabs-body {
  clear:both;
}

.tab-pnl {
  .clearfix();
  display: none;
  padding-top: 10px;
}

.tab-pnl-active {
  display: block;
}
