.toolbar {
  height: 30px;
  padding-bottom: 20px;

  .btn,
  .btn-grp,
  .input,
  .sel{
    float: left;
    margin-right: 5px;
  }

  .btn-grp .btn {
    margin-right: 0;
  }

  .pull-right {
    margin-left: 5px;
    margin-right: 0;
    float: right;
  }

  .sel,
  .btn {
    background-color: #f6f6f6;
    #gradient.vertical(#fefefe, #eee);
  }

  .btn.active {
    background: #999999;
    .box-shadow(0 0 10px rgba(0,0,0,.2) inset)
  }

  .btn-primary {
    background-color: @btnPrimaryBgColor;
    #gradient.vertical(lighten(@btnPrimaryBgColor, 5%), darken(@btnPrimaryBgColor, 5%));
  }
}
