.tree-view {
  overflow: auto;
  padding-bottom: 16px; // hack for safari and chrome on mac
}

.tree-node {
  display: table;
  width: 100%;
  overflow: visible;
}

.tree-node-body {
  display: block;
  white-space: nowrap;
  padding: 3px 0 3px 15px;
  cursor: default;
  overflow: visible;
}

.tree-view-hide-top-node .tree-node-top {
  display: none;
}

.tree-node-indents,
.tree-node-indent,
.tree-node-expander,
.tree-node-content,
.tree-node-chk,
.tree-node-icon,
.tree-node-label {
  display: inline-block;
  vertical-align: top;
}

.tree-node-indent,
.tree-node-expander,
.tree-node-chk,
.tree-node-icon {
  width: @baseIconSize;
  height: @baseIconSize;
}

.tree-node-indents {
}

.tree-node-indent {
}

.tree-node-expander {
  cursor: pointer;
  background-image: url(../img/icons.png);
  background-repeat: none;
  background-position: (0px - (30px * 0) - (30px - @baseIconSize) / 2) (0px - (30px * 0) - (30px - @baseIconSize) / 2);
}

.tree-node-expanded .tree-node-expander {
  background-position: (0px - (30px * 1) - (30px - @baseIconSize) / 2) (0px - (30px * 0) - (30px - @baseIconSize) / 2);
}

.tree-node-leaf .tree-node-expander {
  cursor: default;
  background-position: (0px - (30px * 2) - (30px - @baseIconSize) / 2) (0px - (30px * 0) - (30px - @baseIconSize) / 2);
  background: none;
}

.tree-node-content {
}

.tree-node-icon {
}

.tree-node-label {
  padding-left: 5px;
  line-height: @treeNodeHeight;
}

.tree-node-children {
  overflow: visible;
}

.tree-node-active {
  background: @activeTreeNodeBgColor;
}

.tree-node-hover {
  background: @hoverTreeNodeBgColor;
}
