@baseFontSize:                        14px;
@baseLineHeight:                      18px;

@activeColor:                         #36b1c5;

@inputBorderColor:                    #cccccc;
@inputActiveBorderColor:              @activeColor;
@inputBgColor:                        #ffffff;
@inputDisabledBgColor:                #eeeeee;

@btnBgColor:                          #f0f0f0;
@btnBorderColor:                      #d6d6d6;
@btnTextColor:                        #000;

@btnPrimaryBgColor:                   #ffad46;
@btnPrimaryBorderColor:               darken(@btnPrimaryBgColor, 10%);
@btnPrimaryTextColor:                 #ffffff;

@btnDisabledBgColor:                  #dedede;
@btnDisabledBorderColor:              @btnBorderColor;
@btnDisabledTextColor:                #888888;

@btnDisabledPrimaryBgColor:           #ffcc99;
@btnDisabledPrimaryBorderColor:       #ffcc99;
@btnDisabledPrimaryTextColor:         #ffffff;
