// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;




@baseFontSize:                        12px;
@baseLineHeight:                      18px;
@baseFontFamily:                      "Helvetica Neue", Helvetica, Arial, sans-serif;
@altFontFamily:                       Georgia, "Times New Roman", Times, serif;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor

@baseIconSize:          @baseLineHeight;
@baseSpace:             5px;
@activeColor:           #36b1c5;
@primaryColor:          #ffad46;
@activeBgColor:         #ebf7f9;
@hoverBgColor:          #eeeeee;
@textColor:             @grayDark;
@inactiveTextColor:     #999999;
@grayTextColor:         #666666;
@dangerColor:           #f1433f;
@warningColor:          #ffad46;


// Scaffolding
// -------------------------
@bodyBackground:        #e1e1e1;

@boxBorderColor:        #cccccc;
@splitLineColor:        #e4e4e4;


// Links
// -------------------------
@linkColor:             @activeColor;
@linkColorHover:        darken(@linkColor, 15%);


// Hr border color
// -------------------------
@hrBorder:                            #e4e4e4;


@inputBorderColor:                    #cccccc;
@inputActiveBorderColor:              @activeColor;
@inputBgColor:                        #ffffff;
@inputDisabledBgColor:                #eeeeee;

@btnBgColor:                          #f3f3f3;
@btnBorderColor:                      #d6d6d6;
@btnTextColor:                        #000;

@btnPrimaryBgColor:                   #ffad46;
@btnPrimaryBorderColor:               darken(@btnPrimaryBgColor, 10%);
@btnPrimaryTextColor:                 #ffffff;

@btnDisabledBgColor:                  #dedede;
@btnDisabledBorderColor:              @btnBorderColor;
@btnDisabledTextColor:                #888888;

@btnDisabledPrimaryBgColor:           #ffcc99;
@btnDisabledPrimaryBorderColor:       #ffcc99;
@btnDisabledPrimaryTextColor:         #ffffff;

@btnActiveBgColor:                    #999999;
@btnActiveTextColor:                  #ffffff;


// Progressbar
// -------------------------
@progressbarHeight:                   @baseLineHeight;


// Input placeholder text color
// -------------------------
@placeholderText:                     @grayLight;


// form
// -------------------------
@formLabelWidth:                      150px;
@formNarrowLabelWidth:                80px;
@formItemSpaceHeight:                 10px;
@formActionBgColor:                   #e4e4e4;


// Navbar
// -------------------------
@navbarHeight:                        32px;
@topNavbarHeight:                     42px;

// Panel
// -------------------------
@panelBorderColor:                    @boxBorderColor;
@panelBgColor:                        #f6f6f6;
@panelTextColor:                      @textColor;
@panelHeaderBgColor:                  #ececec;
@panelHeaderTextColor:                #a9a9a9;

// Menu
// -------------------------
@menuBorderColor :                    #cccccc;
@menuBgColor :                        #fff;
@menuTextColor :                      @textColor;
@menuHoverTextColor :                 @menuTextColor;
@menuHoverBgColor :                   #e4e4e4;
@menuDividerColor :                   #e4e4e4;
@menuItemHeight :                     30px;
@menuDividerHeight :                  10px;

@menuDarkBorderColor :                #cccccc;
@menuDarkBgColor :                    #333333;
@menuDarkTextColor :                  #cccccc;
@menuDarkHoverTextColor :             #fdfdfd;
@menuDarkHoverBgColor :               @activeColor;
@menuDarkDividerColor :               #525252;

// Tabs
// -------------------------
@tabsHeaderHeight :                   28px;
@tabsTriggerBorderRadius :            2px;
@tabsTriggerPadding:                  20px;

// Tree
// -------------------------
@treeNodeHeight :                     18px;
@activeTreeNodeBgColor :              #e4e4e4;
@hoverTreeNodeBgColor :               #f0f0f0;

